<div class="grid grid-cols-4 border-2 border-pink-200">
    <div class="...">
        <img src="./images/lady_cooking.PNG" 
        class="max-w-full h-auto" 
        alt="lady cooking" />
    </div>
    <div class="col-span-3">
        <h class="text-xl">{{dish_name}}</h>
        <div>
            <span class="inline text">cook time: {{dish_name}}</span>
            <span class="inline text">prep time: {{prep_time}}</span>
        </div>
        <div>
            <span class="inline text">calories: {{calories}}</span>
            <span class="inline text">sodium: {{sodium}}</span>
            <span class="inline text">fat: {{total_fat}}</span>
            <span class="inline text">carb: {{carbs}}</span>
            <span class="inline text">protein: {{protein}}</span>
            <span class="inline text">sugar: {{sugar}}</span>
        </div>
        <div>
            Ingredients
            <li class="inline-block">{{ingredients}}</li>
        </div>
        <div>
            Prep Instructions
            <li>{{prep_instructions}}</li>
        </div>
        <div>
            Directions
            <li>{{cook_instructions}}</li>
        </div>
    </div>
</div>