<div class="grid grid-cols-4 border-2 border-pink-200">
    <div class="...">
        <img src="./images/lady_cooking.PNG" 
        class="max-w-full h-auto" 
        alt="lady cooking" />
    </div>
    <div class="col-span-3">
        <h class="text-xl">{{recipe.name}}</h>
        <button
        type="button"
        class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded"
        id="add">
        Add Recipe
        </button>
        <div>
            <span class="inline text">cook time: {{recipe.cooktime}}</span>
            <span class="inline text">serving: {{recipe.serving}}</span>
        </div>
        <div>
            <li>{{recipe.ingredients}}</li>
        </div>
        <div>
            <span class="inline text">calories: {{recipe.calories}}</span>
            <span class="inline text">sodium: {{recipe.sodium}}</span>
            <span class="inline text">fat: {{recipe.fat}}</span>
            <span class="inline text">carb: {{recipe.carb}}</span>
            <span class="inline text">protein: {{recipe.protein}}</span>
        </div>
        <div>
            Ingredients
            <li class="inline-block">{{recipe.ingredients}}</li>
        </div>
        <div>
            Directions
            <li>{{recipe.directions}}</li>
        </div>
    </div>
</div>